#navbar {
    z-index: 999;
    width: 100%;
    height: 100px;
    display: flex;
    top: 0;
    position: sticky;
    background-color: #f9a833ff;

    #logo {
        cursor: pointer;
        margin-top: 5px;
        margin-left: 30px;
        height: 90px;
    }

    #page-title {
        margin-top: 15px;
        margin-left: 30px;
        font-size: 50px;
        color: white;
        text-transform: capitalize;
    }

    #profile-container {
        width: 100%;
        height: 100px;
        background-color: none;
        position: absolute;
        display: flex;
        justify-content: right;
        align-items: center;

        #profile-button {
            cursor: pointer;
            position: relative;
            right: 50px;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            outline: 5px solid white;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

#profile-drop-down {
    z-index: 998;
    position: fixed;
    width: 200px;
    height: 0;
    opacity: 0;
    max-height: 340px;
    left: auto;
    right: 40px;
    margin-top: -20px;
    border-radius: 25px;
    background: linear-gradient(to bottom, red, #f97833, #f9a833ff, #f9a833ff);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: 
        height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;

    #profile-picture {
        width: 100px;
        height: 100px;
        margin-top: 50px;
        border-radius: 100%;
        outline: 5px solid white;
    }

    h4 {
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 14ch;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
    }

    button {
        color: white;
        background-color: red;
        border: 5px solid red;
        font-weight: 800;
        margin-top: 10px;

        &:hover {
            color: red;
            background-color: white;
        }
    }
}