.show-pass {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 5px solid rgb(67, 44, 26);
    background-color: rgba(0, 0, 0, 0);
    border-radius:  75% 15%;
    transform: rotate(45deg);

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border: 4px solid rgb(67, 44, 26);
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        left: 6px;
        top: 6px;
        z-index: -1;
    }

    .hide-pass {
        width: 5px;
        height: 55px;
        background-color: rgb(67, 44, 26);
        visibility: visible;
        translate: 17px -7px;
        transition: height 0.1s ease-in;
    }
}