@import url('eye-icon.css');

body {
    overflow: hidden;
    background-color: #F0E9E2;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    border-radius: 20px;
    padding: 20px 50px;
    padding-bottom: 70px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    p {
        font-size: 20px;
        max-width: 35ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

form {
    label {
        font-size: 20px;
    }

    input[type="text"], input[type="password"] {
        font-size: 20px;
        padding: 15px 10px;
        margin-top: 5px;
        width: 400px;
    }

    input[type="submit"] {
        position: absolute;
        right: 0;
        margin-top: 40px;
        color: white;
        font-size: 20px;
        outline: none;
        background-color: #FB9B00;
        border: 3px solid #FB9B00;

        &:hover {
            color: #FB9B00;
            background-color: white;
        }
    }

    .submission-container {
        position: relative;
        height: 75px;
        
        a {
            font-size: 20px;
            color: #FB9B00;
            position: absolute;
            left: 0;
            margin-top: 10px;
        }
    }

    .with-email {
        margin-top: 40px;
        margin-bottom: -40px;

        input[type="submit"] {
            margin-top: 0;
        }
    }

    .password-container {
        position: relative;
        margin-bottom: -20px;

        input[type="text"], input[type="password"] {
            margin-top: 0;
        }

        .eye-container {
            position: absolute;
            top: 0;
            right: 0;
            height: 55px;
            width: 55px;
            scale: 0.9;

            .show-pass {
                opacity: 0.8;
                scale: 0.5;
                margin-left: 3px;
                margin-top: 2px;
            }
        }
    }
}

#error {
    font-size: 20px;
    color: red;
    width: 100%;
    margin-bottom: -20px;
    word-break: break-word;
}