* {
    color: rgb(67, 44, 26);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, body {
    margin: none;
    padding: none;
}

body { background-color: white; }

button, input[type="button"], input[type="submit"] {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 35px;
    min-width: 150px;
    border-radius: 50px;
    cursor: pointer;
}

p, a , label, input[type="text"], input[type="textbox"], input[type="password"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    cursor: pointer;
    
    &:hover {
        text-decoration: underline;
    }
}

input[type="text"], input[type="textbox"], input[type="password"] {
    border: 1px solid black;
    padding: 8px 8px;
}

/* REMOVE UNNECESSARY BROWSER FEATURES */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
}